@font-face{
	font-family: "Garamond";
	src:url("fonts/Myriad-Pro-Light.ttf");
}
.Garamond{
	font-family: "Garamond";
}

table{
	font-family: Garamond;
	margin: auto;
}

.buttons{
	border:solid; 
	border-width: thin;
	text-align: right;
	font-size: 16px;
	font-family: Garamond;
	background-color: transparent;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 5px;
	padding-right: 5px;
	color:black;
	border-color: #050505;
}

.Inputs{
	resize: none;
	margin-left: 15px;
	background-color: white;
	border: none;
	border-bottom:solid; 
	border-top: solid;
	border-width: thin;
	border-color: #A0A0A0;
	font-size: 16px;
	font-family: Garamond;
	color:black;
	padding-top:5px;
}


#SignUpBox{
	width: 550px;
	height: 600px;
	margin: auto;
	margin-top: 30px;
	float: center;
	text-align: center;
	margin-bottom: 60px;
	background-color: transparent;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: solid;
	border-right: solid;
	border-width: thin; 
	border-color: #A0A0A0;
}

.SignUpLabels{
	padding-left: 15px;
	font-size: 14pt;
	padding-top: 5px;
	text-align: left;

}

#frmSignUp input[type=text].error{
    border: solid 1px #900; 
}

label.error {
    font-size: 10px;
    color: #900;
    float: right; 
    margin-top: -45px;
    margin-right: 20px;
    padding-left: 15px;
}

.Full{
	width: 500px;
}

.Mid{
	width: 240px;
}

.lbl2{
	margin-right: 100px;
}

#Logo img{
	max-width:140px;
    max-height:200px;
    margin-left: 40px;
    margin-top: -80px;
    width: auto;
    float: left;
    height: auto;
}

#LoginButton{
	width:240px;
	margin-top: 40px;
	border-style: solid;
	float:right;
	text-align: center;
	font-size: 14pt;1
}

