@font-face{
	font-family: "Garamond";
	src:url("fonts/Myriad-Pro-Light.ttf");
}
.Garamond{
	font-family: "Garamond";
}

body{
	background-color: #fafafa;
}

.ui-datepicker {
    height: auto;
    padding: 0.2em 0.2em 0;
    width: 205px;
    font-size: 16px;
	font-family: Garamond;
	color:black;
}

.menuimgconf{
	background-size: 10px;
}

#frmLogin{
	float: right;
	width: 100%;
	height: 40px;
	margin-right: 8px;
	background-color: #050505;
	opacity: 0.8;
}

#loginBar{
	float: right;
	width: 100%;
	height: 80px;
	margin-top: -10px;
	padding-top: -10px;
	text-align: right;
	position: absolute;
	position: fixed;
}

#logo{
	background-repeat: none;
	background:url("img/logotipoWhite.png");
	background-size: 200px;
	width: 200px;
	height: 100px;
	margin-top: -45px;
	float: left;
	margin-left: 50px;
}

#btnLogout{
	background-color: black;
	background: url("img/logout.png");
	border:none;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	float: right;
	margin-right: 50px;
}


#SiteArea{
	float: center;
	width: auto;
	height: auto;
	left: 50%;
	margin-left: -550px;
	margin-top: 30px;
	position: absolute;
}

#LeftPanel{
	width: 200px;
	height:550px;
	padding-top: 5px;
	padding-bottom: 20px;
}

#UserPicture{
	width:170px;
	height: 170px;
	background-size: 170px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-left: 7px;
	margin-top: 15px;
	float: left;
}

#UserName{
	width:170px;
	height: 20px;
	float: left;
	text-align: center;
	font-family: Garamond;
	font-size: 14pt;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 15px;
}

#FriendPanel{
	width:170px;
	height: 270px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: white;
	margin-left: 15px;
	float: left;
}

#FeedArea{
	height:auto;
	margin-top: 20px;
	width:700px;
	margin-top: -570px;
	margin-left: 200px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: center;
}

#fixButton{
	padding-top: 10px;
	width:660px;
	height: 40px;
	margin-left: 20px;
	background-color: transparent;
	border-bottom:solid;
	border-width: thin; 
	border-color: #A0A0A0;
	float: center;
}

#TypeTaskArea{
	height: auto;
	width:660px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-left: 20px;
	float: center;
	display: none;
}

#TypefulTextArea{
	height:auto;
	width:660px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-left: 20px;
	float: center;
	display: none;
}


.FeedMiddleTextArea{
	resize: none;
	width: 210px;
	height: 20px;
	margin-bottom: 5px;
	margin-left: 395px;
	background-color: white;
	border: none;
	border-bottom:solid; 
	border-top: solid;
	border-width: thin;
	border-color: #D3D3D3;
	font-size: 16px;
	font-family: Garamond;
	color:black;
	padding-top:5px;
}
.FeedTextArea{
	resize: none;
	width: 620px;
	height: 100px;
	margin-left: -5px;
	margin-bottom: 5px;
	background-color: white;
	border: none;
	border-bottom:solid; 
	border-top: solid;
	border-width: thin;
	border-color: #D3D3D3;
	font-size: 16px;
	font-family: Garamond;
	color:black;
	padding-top:5px;
}
.fixesbuttons{
	background-color: transparent;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	font-size: 14pt;
	color: #050505;
	height: 22px;
	width: 80px;
	border:none;
	margin-top: 15px;
	float: center;
	font-family: Garamond;

}

.buttons{
	border:solid; 
	border-width: thin;
	text-align: right;
	font-size: 16px;
	font-family: Garamond;
	background-color: transparent;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 5px;
	padding-right: 5px;
	color:black;
	border-color: #D3D3D3;
}

#btnNewTask{
	margin-left: 570px;
	margin-top: 15px;
}

#btnNewReminder{
	margin-left: 570px;
	margin-top: 15px;
}

#btnReminder{
	margin-left: 480px;

}

#btnTask{
	border-left: solid;
	border-width: thin;
	border-color: #A0A0A0;
}

#FormTask{
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 20px;

}

#FormReminder{
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.lblNewPost{
	font-size: 16px;
	font-family: Garamond;
	color:black;
	margin-top: 20px;	
}

.lblNewPostMiddle{
	font-size: 16px;
	font-family: Garamond;
	color:black;
	margin-top: 20px;
	padding-left: 400px;
	padding-top: 10px;
}

.TxtTitles{
	resize: none;
	width: 620px;
	height: 20px;
	margin-bottom: 5px;
	margin-left: -5px;
	background-color: white;
	border: none;
	border-bottom:solid; 
	border-top: solid;
	border-width: thin;
	border-color: #D3D3D3;
	font-size: 16px;
	font-family: Garamond;
	color:black;
	padding-top:5px;
}

.lblNew{
	border-top:solid; 
	border-width: thin;
	text-align: right;
	font-size: 16px;
	font-family: Garamond;
	color:black;
	border-color: #D3D3D3;
}


#PostFeed{
	min-height: 50px;
	height: auto;
	width:660px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-top: 20px;
	float: center;
	background-color: white;
}


#UserStorage{
	width:200px;
	height: 2010px;
	background-color: #f2f2f2; 	
	border-left: solid;
	border-width: thin;
	border-color: #D3D3D3;
	float: right;
	right: 0;
	bottom: 30;
	margin-top: 30px;
	position: fixed;
}


.TaskTitle{

	resize: none;
	width: 620px;
	height: 20px;
	margin-bottom: 5px;
	margin-left: 400px;
	background-color: white;
	border: none;
	border-bottom: solid;
	border-width: thin;
	border-color: #D3D3D3;
	font-size: 18px;
	font-family: Garamond;
	font-style: bold;
	text-align: center;
	padding-right: 30px;
	color:black;
	padding-top:5px;
	margin-bottom: 40px;
}

.TaskLabels{
	padding-top: 30px;
	padding-left: 20px;
	font-size: 16px;
	font-family: Garamond;
	color:black;
}


.TaskDate{
	padding-top: 0px;
	padding-left: 20px;
	font-size: 16px;
	float: right;
	font-family: Garamond;
	color:black;
}

#AddInStorage{
	position: fixed;
	width:200px;
	height: 30px;
	bottom: 0;
}

#btnAddNewFolder{
	background-color: blue;
	background: url("img/Folder-icon.png");
	background-size: 30px;
	width:30px;
	height: 30px;
	right: 0;
	position: fixed;
}

#btnAddNewFile{
	background-color: red;
	width: 170px;
	height: 30px;
	float: left;
	position: fixed;
}

#btnNewFolder{
	width:50px;
	height: 30px;
	border-style: none;
	background: transparent;
}

#btnNewFolder:hover{
	border-style: none;
}

.menuTaskOptions{
	list-style-type: none;
	font-size: 14px;
	font-family: Garamond;
	text-align: center;
}

.menuimgconf{
	position: relative;
	float: right;
}

.menuimgconf:hover ul, 
.menuimgconf.over ul, 
.menuimgconf ul li.over ul {
	display: block;
}


.taskOption{
	position: relative;
	float: right;
	width: 80px;
	border-bottom: solid;
	border-top: solid;
	border-width: thin;
	border-color: #D3D3D3;
	background-color: white	;
	margin-top: -1px;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.taskOption:hover{
	background-color: #D3D3D3;
	color: white;
}

.ListTaskOptions{
	width: 80px;
	height: 80px;
	position: absolute;
	display: none;
	margin-left: -100px;
	margin-top: -5px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.menuTaskOptions li a:link, .menuTaskOptions li a:visited, .menuTaskOptions li a:active{
	color: black;
	text-decoration: none;
}
	

