/*Default */

@font-face{
	font-family: "Garamond";
	src:url("fonts/Myriad-Pro-Light.ttf");
}
.Garamond{font-family: "Garamond";}

body{background-color: #fafafa;}

@media(max-width: 1200px){
	#UserStorage{display:none;}
}

@media(min-width: 1200px){
	#maximizedUserStorage{display:none;}
}

@media(max-width: 640px){
	#FeedArea{position: absolute;}
}

table{width: 100%;}
tr{width: 100%;}
td{width: 100%;}
textarea{width: 95%;}

#pdf{
	width: 85%;
	margin-left: 15px;
	border-style: none;
	border-top: solid;
	border-bottom: solid;
	border-width: thin;
}

.buttons{
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 5px;
	padding-right: 5px;
	border:solid; 
	border-width: thin;
	border-color: #D3D3D3;
	font-family: Garamond;
	font-size: 16px;
	color:black;
	text-align: right;
	background-color: transparent;
}

.Task{width: 100%;	padding-bottom: 20px;margin-top: 5px;}

.menuimgconf{background-size: 10px;}

/*modal */
.window{
    height:auto;
    width:50%;
    margin-top: 3%;
    margin-left:12%;
    padding-bottom:10px;
    box-shadow: 1px 1px 1px 1px #050505;
    display:none;
    background:#FFF;
    position:fixed;
    z-index:9900;
}

.close{
	height: 10%;
	width: 100%;
	border-top: solid;
	border-bottom: solid;
	border-width: thin;
	border-color: #050505;
	text-decoration: none;
	text-align:right;
	opacity: 0.8;
	float: right;
	display:block; 
	background-color: #050505;
}

/* Bar */

#frmLogin{
	height: 40px;
	width: 100%;
	margin-right: 8px;
	float: right;
	background-color: #050505;
	opacity: 0.8;
}

#loginBar{
	height: 80px;
	width: 100%;
	margin-top: -10px;
	padding-top: -10px;
	float: right;
	text-align: right;
	position: fixed;
}

#logo{
	height: 100px;
	width: 200px;
	margin-top: -45px;
	margin-left: 50px;
	float: left;
	background-repeat: none;
	background:url("img/logotipoWhite.png");
	background-size: 200px;
}

#btnLogout{
	height: 20px;
	width: 20px;
	margin-top: 10px;
	margin-right: 50px;
	border:none;
	float: right;
	background-color: black;
	background: url("img/logout.png");
}

/*date picker*/

.ui-datepicker {
    height: auto;
    width: 205px;
    padding: 0.2em 0.2em 0;
	font-family: Garamond;
    font-size: 16px;
	color:black;
}

/*Site*/

#SiteArea{
	height: 95%;
	width: 90%;
	padding-top: 3%;
	margin-top: 1%;
	margin-left: 10%;
	float: center;
	left: 0;
	overflow: scroll;
	position: absolute;
}

/*LeftPanel*/
#LeftPanel{
	height:550px;
	width: 200px;
	padding-top: 5px;
	padding-bottom: 20px;
}

#UserPicture{
	height: 170px;
	width:170px;
	background-size: 170px;
	border-radius: 2px;
	margin-top: 15px;
	margin-left: 7px;
	float: left;
}
#UserName{
	height: 20px;
	width:170px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 15px;
	font-family: Garamond;
	font-size: 14pt;
	text-align: center;
	float: left;
}

#FriendPanel{
	height: 270px;
	width:170px;
	margin-left: 15px;
	border-radius: 2px;
	float: left;
	background-color: white;
}

.divSendEmail a {
	height: 30px;
	width: 170px;
	padding-top: 10px;
	border-top: solid;
	border-bottom: solid;
	border-width: thin;
	border-color: #D3D3D3;
	font-family: Garamond;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	color: black;
	display: block;
}

.sendEmailTo{
	height: 30px;
	width: 90%;
	margin-top: 5%;
	margin-left: 5%;
	padding-top: 10px;
	border: none;
	border-top: solid;
	border-bottom:solid; 
	border-width: thin;
	border-color: #D3D3D3;
	font-family: Garamond;
	font-size: 18px;
	color:black;
	resize: none;
	background-color: white;	
}

.sendEmailRespect{
	height: 30px;
	width: 90%;
	margin-top: 1%;
	margin-left: 5%;
	padding-top: 10px;
	border: none;
	border-top: solid;
	border-bottom:solid; 
	border-width: thin;
	border-color: #D3D3D3;
	font-family: Garamond;
	font-size: 18px;
	color:black;
	resize: none;
	background-color: white;	
}

.sendEmailBody{
	height: 250px;
	width: 90%;
	margin-top: 5%;
	margin-left: 5%;
	padding-top: 10px;
	border: none;
	border-top: solid;
	border-bottom:solid; 
	border-width: thin;
	border-color: #D3D3D3;
	font-family: Garamond;
	font-size: 18px;
	color:black;
	resize: none;
	background-color: white;	
}

#FeedArea{
	height:auto;
	width:47%;
	margin-top: -570px;
	margin-left: 200px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: center;
}

.fixesbuttons{
	height: 22px;
	width: auto;
	margin-top: 15px;
	border-radius: 1px;
	border:none;
	font-family: Garamond;
	font-size: 14pt;
	color: #050505;
	float: center;
	background-color: transparent;
}

#btnTask{
	border-left: solid;
	border-width: thin;
	border-color: #A0A0A0;
}

#TypefulTextArea{
	height:auto;
	width:95%;
	margin-left: 20px;
	border-radius: 2px;
	float: center;
	display: none;
}

.lblNew{
	width: 90%;
	border-top:solid; 
	border-width: thin;
	border-color: #D3D3D3;
	font-family: Garamond;
	font-size: 16px;
	color:black;
	text-align: right;
}

.lblNewPost{
	width: 94%;	
	margin-top: 20px;
	font-family: Garamond;
	font-size: 16px;
	color:black;
}

.FeedTextArea{
	height: 100px;
	width: 98%;
	margin-bottom: 5px;
	margin-left: -5px;
	padding-top:5px;
	border: none;
	border-top: solid;
	border-bottom:solid; 
	border-width: thin;
	border-color: #D3D3D3;
	font-family: Garamond;
	font-size: 16px;
	color:black;
	resize: none;
	background-color: white;
}

#btnNewReminder{
	margin-top: 15px;
	margin-left:  85%;
}

#btnNewTask{
	margin-top: 15px;
	margin-left: 85%;
}

#PostFeed{
	height: auto;
	width:94%;
	margin-top: 20px;
	padding-right: 3%;
	padding-left: 3%;
	border-radius: 2px;
	min-height: 50px;
	float: center;
	background-color: white;
}

#fixButton{
	height: 40px;
	width:95%;
	margin-left: 20px;
	border-bottom:solid;
	border-width: thin; 
	border-color: #A0A0A0;
	padding-top: 10px;
	float: center;
	background-color: transparent;
}

#TypeTaskArea{
	height: auto;
	width:95%;
	margin-left: 20px;
	border-radius: 2px;
	float: center;
	display: none;
}

.FeedMiddleTextArea{
	height: 20px;
	width: 45%;
	margin-bottom: 5px;
	margin-left: 50%;
	padding-top:5px;
	border: none;
	border-top: solid;
	border-bottom:solid; 
	border-width: thin;
	border-color: #D3D3D3;
	font-family: Garamond;
	font-size: 16px;
	color:black;
	resize: none;
	background-color: white;
}

#FormTask{
	width: 94%;
	padding-top: 10px;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
	background-color: white;
}

#FormReminder{
	background-color: white;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 10px;
	padding-bottom: 3%;
	width: 94%;
}

.lblNewPostMiddle{
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 50%;
	font-family: Garamond;
	font-size: 16px;
	color:black;
}

.TxtTitles{
	height: 20px;
	width: 98%;
	margin-bottom: 5px;
	margin-left: -5px;
	padding-top:5px;
	border: none;
	border-top: solid;
	border-bottom:solid; 
	border-width: thin;
	border-color: #D3D3D3;
	font-family: Garamond;
	font-size: 16px;
	color:black;
	resize: none;
	background-color: white;
}

#UserStorage{
	height: 100%;
	width:200px;
	bottom: 30;
	right: 0;
	margin-top: 30px;
	border-left: solid;
	border-width: thin;
	border-color: #D3D3D3;
	font-family: Garamond; 	
	font-size: 16px;
	float: right;
	position: fixed;
	background-color: #f2f2f2;
	overflow-y: scroll;
}

#closeMUS{
	border-top: solid;
	border-bottom: solid;
	border-width: thin;
	border-color: #050505;
	background-color: #050505;
	opacity: 0.8;
	display:block; 
	text-align:right;
	float: right;
	width: 195px;
	height: 5%;
	position: fixed;
}

#maximizedUserStorage{
	width:195px;
	height: 85%;
	background-color: #f2f2f2;
	font-size: 16px;
	font-family: Garamond; 	
	border: solid;
	border-bottom: none;
	border-width: thin;
	border-color: black;
	bottom: 0;
	margin-top: 30px;
	position: fixed;
	float: right;
	right: 0;
	display: none;
}



#minimizedUserStorage{
	width:195px;
	height: 4%;
	text-align: center;
	background-color: #f2f2f2; 	
	border: solid;
	border-bottom: none;
	border-width: thin;
	border-color: black;
	float: right;
	bottom: 0;
	bottom: 30;
	position: fixed;
	right: 0;
}

#frmUserStorage{
	overflow-y: scroll;	
	float: center;
	margin-top: 15%;

}


.TaskTitle{
	width: 90%;
	height: 20px;
	margin-bottom: 5px;
	margin-left: 400px;
	background-color: white;
	border: none;
	border-bottom: solid;
	border-width: thin;
	border-color: #D3D3D3;
	font-size: 18px;
	font-family: Garamond;
	font-style: bold;
	text-align: center;
	padding-right: 30px;
	color:black;
	padding-top:20px;
	margin-bottom: 40px;
}

.TaskLabels{
	padding-top: 30px;
	padding-left: 20px;
	font-size: 16px;
	font-family: Garamond;
	color:black;
}


.TaskDate{
	padding-top: 20px;
	padding-left: 20px;
	font-size: 16px;
	float: right;
	text-align: right;
	font-family: Garamond;
	color:black;
}

#AddInStorage{
	position: fixed;
	width:100%;
	height: 30px;
	bottom: 0;
}

.menuTaskOptions{
	list-style-type: none;
	font-size: 14px;
	font-family: Garamond;
	text-align: center;
}

.menuimgconf{
	position: relative;
	float: right;
}

.menuimgconf:hover ul, 
.menuimgconf.over ul, 
.menuimgconf ul li.over ul {
	display: block;
}



.taskOption{
	position: relative;
	float: right;
	width: 80px;
	border-bottom: solid;
	border-top: solid;
	border-width: thin;
	border-color: #D3D3D3;
	background-color: white	;
	margin-top: -1px;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.taskOption:hover{
	background-color: #D3D3D3;
	color: white;
}

.ListTaskOptions{
	width: 80px;
	height: 80px;
	position: absolute;
	display: none;
	margin-left: -100px;
	margin-top: -5px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}


.menuTaskOptions li a:link, .menuTaskOptions li a:visited, .menuTaskOptions li a:active, 
.storageFile a:link, .storageFolder a:link, .storageFile a:visited, .storageFolder a:visited,
.storageFile a:active, .storageFolder a:active{
	color: black;
	text-decoration: none;
}

#choseFile{
	margin-top: 100px;
}


	
.storageFile, .storageFolder{
	text-decoration-style: none;
	text-decoration: none;
	text-align: center;
	width:100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid;
	border-top: solid;
	border-width: thin;
	border-color: #D3D3D3;
	font-size: 16px;
	font-family: Garamond;
	color:black;
}

.storageFile{
	background-color: white;
}

.storageFolder{
	background-color: #f2f2f2;

}

.storageFolder div{

}


.subdiv{
	border-left: solid;
	border-width: thin;
	border-color: #D3D3D3;
}

.subfolder{
	background-color: #f2f2f2;
}



#email{
	background-color: black;
	position: fixed;
	float: center;
	width: 20px;
	height: 30px;
}







#btnSend{
	float: right;
	margin-right: 5%;
	margin-top: 1%;
}

.atribuirTextArea{
	resize: none;
	margin-top: 2%;
	width: 90%;
	margin-left: 5%;
	height: 30px;
	padding-top: 10px;
	background-color: white;	
	border: none;
	border-bottom:solid; 
	border-top: solid;
	border-width: thin;
	border-color: #D3D3D3;
	font-size: 18px;
	font-family: Garamond;
	color:black;
}

#mascara{
	background-color: black;
}

.btnstr{
	float: right;
	margin-top: 2%;
	margin-right: 5%;
}